<br>
<h1>CARRITO PEDIDOS</h1
  >
<br>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of buyprodructs">
        <td>{{pro.product}}</td>
        <td>{{pro.quantity}}</td>
        <td>{{pro.unitprice}}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm px-3" (click)="delete(pro._id)">
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
</table><br>
<button class="btn btn-primary btn-lg px-5" type="button" (click)="update()">Comprar</button>
<br>