<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">PRODCUTS INFORMATION</h3>
                        <form class="px-md-2" [formGroup]="productForm" (ngSubmit)="insert()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-outline">
                                        <input type="text" id="form3Example1q" class="form-control" formControlName="name" placeholder="NAME"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-outline">
                                        <input type="text" id="form3Example1w" class="form-control" formControlName="color" placeholder="COLOR"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example1q">Brand:   </label>
                                        <select class="form-select" formControlName="brandid">
                                            <option value="1" disabled>Class</option>
                                            <option *ngFor="let bra of brandData" [value]="bra.brandid" ngDefaultControl>{{bra.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example1q">Size:   </label>
                                        <select class="form-select" formControlName="sizeid">
                                            <option value="1" disabled>Class</option>
                                            <option *ngFor="let sz of sizeData" [value]="sz.sizeid" ngDefaultControl>{{sz.size}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example1q">Cate:    </label>
                                        <select class="form-select" formControlName="categoryid">
                                            <option disabled>Category</option>
                                            <option *ngFor="let cat of categoryData" [value]="cat.categoryid" ngDefaultControl>{{cat.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                                <div class="col-md-6">
                                    <div class="form-outline">
                                        <input type="text" id="form3Example1w" class="form-control" formControlName="price" placeholder="PRICE"/>
                                        <label class="form-label" for="form3Example1q">PRICE</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-outline">
                                        <input type="text" id="form3Example1w" class="form-control" formControlName="stock" placeholder="STOCK"/>
                                        <label class="form-label" for="form3Example1q">STOCK</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
<div class="container">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Size</th>
            <th>Brand</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pro of productData">
            <td>{{pro.name}}</td>
            <td>{{pro.color}}</td>
            <td>{{pro.stock}}</td>
            <td>{{pro.price}}</td>
            <td>{{pro.sizeid}}</td>
            <td>{{pro.brandid}}</td>
            <td>{{pro.categoryid}}</td>
          </tr>
        </tbody>
      </table>
</div><br><br><br><br>