<br>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Order</th>
        <th>Supplier</th>
        <th>Shipper</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>UnitPrice</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of orders">
        <td>{{pro.orderid}}</td>
        <td>{{pro.supplier}}</td>
        <td>{{pro.shipper}}</td>
        <td>{{pro.orderdetails.product}}</td>
        <td>{{pro.orderdetails.quantity}}</td>
        <td>{{pro.orderdetails.unitprice}}</td>
      </tr>
    </tbody>
</table>
<br>