<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="https://mdbgo.com/">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="16"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="id==1 || id== 2">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shippers">SHIPPERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/suppliers">SUPPLIERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/brands">BRANDS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categories">CATEGORIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sizes">SIZES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/orders">ORDERS</a>
          </li>
          <li class="nav-item" *ngIf="id==1">
            <a class="nav-link" routerLink="/users">USERS</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="id==3">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cproducts">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ordersc">BUY PRODUCTS</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-end" *ngIf="!stats">
          <a routerLink="/login"  class="btn btn-link px-3 me-2">
            Login
          </a>
          <a type="button" routerLink="/register" class="btn btn-primary me-3">
            Sign up for free
          </a>
        </div>
        <div class="d-flex align-items-end" *ngIf="stats">
          <button type="submit" (click)="logout()" class="btn btn-primary me-3">
            LogOut
          </button>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->